p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

html, body {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  color: #474747;
  margin: 0;
}


