<footer class="footer">
  <div class="col-9 col-lg-6">
    <ul class="footer-links">
      <li>
        <%= link_to image_tag("linkedin.png"), "https://www.linkedin.com/in/vincentkatz/", class: "icons" %>
      </li>
      <li>
        <%= link_to image_tag("twitter.png"), "https://twitter.com/vinzkatz", class: "icons" %>
      </li>
      <li>
        <%= link_to image_tag("instagram.png"), "https://www.instagram.com/bunnydemus/", class: "icons" %>
      </li>
      <li>
        <%= link_to image_tag("email.png"), "mailto:vincent@katz.fr", class: "icons" %>
      </li>
    </ul>
  </div>
  <div class="col-3 col-lg-6">
    <div id="copyright">
      <p>Copyright 2020</p>
    </div>
  </div>
</div>
</footer>

