<div class="row justify-content-center">
    <div class="top-navigation">
      <h1 id="title-name">Vincent Katz</h1>
      <div class="navbar">
        <ul class="wrapper">
        <li>ABOUT</li>
        <li>WORK</li>
        <li>PHOTOGRAPHY</li>
        </ul>
      </div>
    </div>
  </div>
