<div class="container">
  <div class="top-navigation">
    <h1 id="title-name">Vincent Katz</h1>
    <div class="navbar">
      <p>ABOUT</p>
      <p>WORK</p>
      <p>PHOTOGRAPHY</p>
    </div>
  </div>
  <div class="main-navigation">
    <div class="avatar">
      <%= image_tag "me.jpg", crop: :fill, class:"avatar" %>
    </div>
    <div id="about-me">
      <p>Hi, I'm Vincent.
        <br>
        <br>
        Working with startups, currently based in 📍Tel-Aviv via Singapore, Ireland and France. Alumni of Tel-Aviv University and IDC.
        <br>
        <br>
        Always seeking new technologies, falafel and interesting people
        <br>
        <br>
        Got a soft spot for movies, tennis, phtography and good food
        <br>
        <br>
        Say hi on Twitter @vinzkatz </p>
    </div>
  </div>
</div>
