.navbar {
  background-color: #FAFAFA;
  padding: 74px 280px 30px;
  color: #343434;
  font-size: 12px;
  }

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
