html, body {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  color: #474747;
}
// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

